<th:block>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>TEST</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/reset-css.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.2.0/css/all.css}" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</th:block>