footer {
    width: 100%;
    background-color: #263238;
    min-height: 150px;
    padding: 10px 0 22px 0;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 8px;
}

.foote-bottom-ul-amrc {
    list-style-type: none;
    padding: 0;
    display: table;
    margin: 10px auto;
    text-transform: uppercase;
}

.foote-bottom-ul-amrc li {
    display: inline;
}

.foote-bottom-ul-amrc li a {
    color: #999;
    margin: 0 12px;
}

.social-footer-ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social-footer-ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social-footer-ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social-footer-ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}